/* Starting with standard fonts and colors stuff */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --color-theme: #FF7373;
  --color-dark: #222529;
  --color-shadow: rgba(34, 37, 41, 0.060);
  --linear-gradient-dark: #E6E6E6;
  --linear-gradient-light: #F5F5F5;
}


html, body {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a{
  color: var(--color-theme);
  text-decoration: none;
}

a:hover{
  color: var(--color-theme);
  text-decoration: underline;
}

.container{
  padding: 0;
}

/* Navbar */

bg-theme{
  background-color: var(--color-theme);
}

.__navbar{
  background-color: var(--linear-gradient-dark);
  height: 99px;
  display: flex;
  align-items: center;
}

.__navbar-container{
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: var(--color-dark);
  font-weight: 800;
  font-size: 35px;
}

.menu-color{
  color: var(--color-dark);
}

.nav-menu-links a{
  padding: 0px 5px 0px 5px; 
}

.nav-icon-links{
  display: flex;   
}

  .__navbar .nav-icon-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark);
    background-color: white;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-left: 10px;
    text-decoration: none;
    box-shadow: 0 0 12px 5px var(--color-shadow);
  }
    .nav-icon-links a:hover{
      color: var(--color-theme);
    }

.__white-circle{
  position: relative;
}

  .__white-circle span{
    background-color: var(--color-theme);
    font-size: 11px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
  }


/* SALE 50 Banner */

.sale-50{
  background-color: var(--linear-gradient-dark);
}

.sale-50-container{
  display: flex;
  align-items: center;
}
  .sale-50-container div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px 0 20px;
  }

    .sale-50-container div h1{
      text-align: center;
      font-size: 65px;
      font-weight: 800;
    }
    .sale-50-container div p{
      text-align: center;
      font-size: 16px;
      font-weight: normal;
    }

.shop-now-button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--color-theme);
  width: 188px;
  height: 60px;
}

  .shop-now-box-1{
    position: absolute;
    top: 10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-left: solid 2px white;
    border-top: solid 2px white;
  }
  .shop-now-button p{
      color: white;
      font-weight: 600;
      margin: 0;
  }
  .shop-now-box-2{
    position: absolute;
    bottom: 10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
  }